<a href="https://colab.research.google.com/github/omkar123katare/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print

In [ ]:
print("india","pakistan",'nepal',"shrilanka")

india pakistan nepal shrilanka

In [ ]:
print('india',5,True)

india 5 True

sep parameter in the print fucntion

In [ ]:
print("india","pakistan",'nepal',"china",sep='*')

india*pakistan*nepal*china

end parameter in the print function.
This function has default value : end='/n'

In [ ]:
print('Hello')
print('Omkar')

Hello
Omkar

instead off deafault value end='/n', we will put end=' '

In [ ]:
print('hello',end=' ')
print('omkar')

hello omkar

# Data types

1. Basic- integer, float, complex, boolean, string
2. Container- list, tuple, set, dictionary
3. User defined- class

In containers, Elements of multiple data types can be stored in a single data type

In [ ]:
print(1e308)

1e+308

In [ ]:
print(1e309)

inf

In [ ]:
print(3.5)

3.5

# Comments

In [1]:
# This a comment, compiler won't execute this comment

# Variables

In [3]:
# Dynamic Typing - No need of specifying data type of new variable. ( In Python and PHP )
# Static Typing - we need to specify the type of a variable.( In c )

In [5]:
# Dynamic Binding - 
name= 'Omkar'
print(name)
name=9
print(name)
name=True
print(name)
# Data type is not bound to any variable. We can change the type of variable stored in the variable without any issue.

Omkar
9
True

In [6]:
# static binding - if a varible is declared as interger, we cannot store any value of other data type in the same variable.

In [7]:
a=5;b=90;c=5
print(a)
print(b)
print(c)

5
90
5

In [8]:
a,b,c=5,90,7
print(a)
print(b)
print(c)

5
90
7

In [9]:
a=b=c=87
print(a)
print(b)
print(c)

87
87
87

# Keywords in Python

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
len(keyword.kwlist)

35

In [5]:
# Dont use these names for your variables. Because compiler gest confused between these and these reserved keyworkds. If done error will occur.

# Identifiers

In [8]:
# An identifier is a name used to identify a variable, function, class, module, other object.
''' Rules for naming identifiers - 
1. Can only start with an alphabet or _ only
2. Can end with digit,_,alphabet. Special characters are not allowed.
3. Variable names canot be from Keywords 
'''

' Rules for naming identifiers - \n1. Can only start with an alphabet or _ only\n2. Can end with digit,_,alphabet. Special characters are not allowed.\n3. Variable names canot be from Keywords \n'

# Taking user input

In [12]:
input("What is Your Name?")

What is Your Name?Omkar Dattatraya Katare

'Omkar Dattatraya Katare'

In [21]:
num1=input("Enter first number ")
print(type(num1))
num2=input("Enter the second number ")
print(type(num2))
print(f"product of these numbers is= {int(num1)*int(num2)}")
# Whenever user inputs anything, computer gets it in a string format. We need to change it everytime so as to avoid error.

Enter first number 34
<class 'str'>
Enter the second number 56
<class 'str'>
product of these numbers is= 1904

# Type conversion

One data type can be converted into other data type. (if it is compatible)

int()
str()
float()
bool()
complex()
list()
dict()

In [9]:
x=str(5)
print(x)
print(type(x))
y=int(x)
print(y)
print(type(y))
z=bool(x)
print(z)
print(type(z))
print(bool(0))
print(bool([]))

5
<class 'str'>
5
<class 'int'>
True
<class 'bool'>
False
False

In [12]:
import numpy as np

In [20]:
name='omkar_katare'
print(name)
print(list(name))
print(set(name))

omkar_katare
['o', 'm', 'k', 'a', 'r', '_', 'k', 'a', 't', 'a', 'r', 'e']
{'m', 'o', '_', 'a', 'e', 'r', 'k', 't'}

# Literals

In [23]:
# Numeric Literals
a=0b1010 # Binary Literal
b=100 # Decimal Literal
c=0o310 # Octal Literal
d=0x12c # Hexagonal Literal

print(a,b,c,d)

10 100 200 300

In [25]:
# Float Literals
float1=1.5
float2=1.5e2
float3=1.5e-2

print(float1,float2,float3)

1.5 150.0 0.015

In [28]:
# Complex Literal
p=3.14j + 67
print(p)
print(p.imag)
print(p.real)

(67+3.14j)
3.14
67.0

In [35]:
# string Literals
sentence1='This is Python'
sentence2=" This is also Python"
multiline_string=''' This could be a multiline string. Like a paragraph '''
unicode= u'\U0001F600'
raw_string=r"raw /n string"

In [38]:
print(sentence1,sentence2,multiline_string,raw_string,sep='------')

This is Python------ This is also Python------ This could be a multiline string. Like a paragraph ------raw /n string

In [40]:
# Boolean Literal
a= True +4
b= False+4
print('a : ',a)
print('b : ',b)

a :  5
b :  4

In [41]:
# special literal
a=None
print(a)
# Then why did we define a ? We kind of declared variable a which we will use in later point of our progeam.

None

# Operators
1.Arithmetic Operators

2.Comaprison Operators

3.Logical Operators

4.Bitwise Operators

5.Assignment Operators

6.Identity Operators

7.Membership Operators

In [5]:
# Arithmetic Operators
x=5
y=2

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

7
3
10
2.5
1
25
2

In [9]:
# Comparison or relational Operators
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [13]:
# Logical Operators
x = True
y= False

print(x and y)
print(x or y)
print(not y)
print(not x)

False
True
True
False

In [26]:
# Bitwise opearators - used in image processing while applying filters, image is converted into binary form. 
x=2  # 0010
y=3  # 0011
    
print(x & y)  # 0010
print(x | y)  # 0011
print(x >> 2) # 0000
print(x << 2) # 1000
print(~x) # 1101

2
3
0
8
-3

In [29]:
# Assignment operator

a=5
print(a)
a+=4
print(a)
a-=2
print(a)

5
9
7

In [30]:
# Identity operator - are the values stored in the same memory location or not?
a=8
b=8
a is b

True

In [31]:
a='hello'
b='hello'
a is b

True

In [41]:
a='hello-world'
b='hello-world'
a is b

False

In [42]:
a is not b

True

In [33]:
a=[10,20,30]
b=[10,20,30]
a is b

False

In [34]:
a=3
b=3
a is b

True

In [38]:
# Membership oparators- In other languages we need to use a for loop. But, in python, we just use this member ship operator- 'in' and get solution.
"d" in "delhi"

True

In [36]:
"D" not in "delhi"

True

In [37]:
list=[2,5,6,7,8]
2 in list

True

# if else

In [4]:
#correct email= omkarkatare123@gmal.com
#correct password= dakvdkgdkvdkodk
email=input("apna email bata ")
if '@' in email:
  
  password=input("apna password bhi bata ")


  if email=="omkarkatare123@gmail.com"  and password =="dakvdkgdkvdkodk":
    print("Sahi hai")
  elif email=="omkarkatare123@gmail.com"  and password !="dakvdkgdkvdkodk":
    print("Email sahi hai password sahi se bata ")
    password=input("password sang ")
    if password=="dakvdkgdkvdkodk":
      print("finaaly correct")
    else:
      print("phirse password galat")
  elif email!="omkarkatare123@gmail.com"  and password =="dakvdkgdkvdkodk":
    email=input("email sang ata ")
    print("email galat hai password thik hai")
    if email=='omkarkatare123@gmail.com':
      print("finnaly correct")
    else:
      print("phirse email galat")

else:
  print("Email is wrong")

apna email bata omkarkatare123gmail.com
Email is wrong

# Indentation

In [ ]:
# In python we dont use ; and {} . Here we use indentation

# Loop

In [ ]:
# loop use - containers for flipkart webpage.
#you wont make 1000s of containers. You just make one and using loops we loop this one over 1000s of containers.

While loop

In [2]:
number=int(input("Enter a number"))
i=1
while i<11:
  print(number*i)
  i=i+1

Enter a number5
5
10
15
20
25
30
35
40
45
50

Guessing Game

In [6]:
import random

In [17]:
#indefinite loop - while loop. (we dont know in advance the number of time loop is to be executed)

In [22]:
jackpot=random.randint(1,100)
counter=1
guess=int(input("chal guess kar"))
while guess != jackpot:
  
  if guess<jackpot:
    print("Guess Higher")
  else: 
    print("Guess lower")
  
  counter+=1
  guess=int(input("Chal guess kar phirse"))

print("Sahi Jawab. You took",counter,"Number of attmpts")

chal guess kar56
Guess lower
Chal guess kar phirse20
Guess Higher
Chal guess kar phirse30
Guess lower
Chal guess kar phirse25
Guess lower
Chal guess kar phirse23
Guess lower
Chal guess kar phirse22
Guess lower
Chal guess kar phirse21
Sahi Jawab. You took 7 Number of attmpts

In [36]:
i=input('Enter i')
j=input('Enter j')
counter=1
while i==j:
  print('both are the same')
  i=input('input i')
  j=input('input j')
  counter=counter+1
print(f'You tried {counter} times')

Enter i4
Enter j4
both are the same
input i6
input j7
You tried 2 times

For loop

For loop iterated over range function OR a sequence. No need of termination, no need of incrementing, everythin will happen on its own. Unlike while loops, here we know how many times our loop will run before starting.

In [15]:
# range fuction

In [16]:

set(range(1,11))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [19]:
list(range(11,1,-1))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [20]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
# In addition to range function, For loop can iterate over Sequences as well - list,set,string,tuples

In [22]:
for i in "omkar":
  print(i)

o
m
k
a
r

In [23]:
list=['list1','list2','list3','list4']
for j in list:
  print(j)

list1
list2
list3
list4

In [25]:
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [27]:
for i in (1,2,3,4,5):
  print(i)

1
2
3
4
5

In [28]:
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

Nested loops

In [ ]:
# Nested loops are not a very great solution, because time complexity of a two layer nested loop is n^2. For a three layered nested loops, time complexity will be n^3.

Eg. if you want info about all the transactions from your bank, one loop iterate for all the customers, another loop will run for each transaction done by each customer.

In [38]:
# Program to create pascal's triangle.

In [44]:
rows=int(input("Input the number of rows you need"))
for i in range(1,rows+1):
  for j in range(0,i):
    print("*",end=" ")
  print(" ")

Input the number of rows you need6
*
* *
* * *
* * * *
* * * * *
* * * * * *

Break, Continue, Pass.

In [47]:
for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
# Where can we use break? - Linear Searching. When you find your match, you can break out.

In [49]:
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [50]:
# while creating app for showing in stock products, skip for the products which are not there in stock. For those stocks, use continue statement.

In [51]:
for i in range(1,11):
  pass

In [52]:
# will write the code after sometime

# Built-in functions

In [53]:
# print
print("hello")

hello

In [55]:
# input - here the inout is receive in a string format
input("enter your name ")

enter your name omk

'omk'

In [56]:
# type
a=3
type(a)

int

In [58]:
# Type cinversion functions- 1.int 2.str 3.float 4.list 5.tuple
int(5.6)

5

In [59]:
# absolute function
abs(-4)

4

In [60]:
# pow
pow(2,3)

8

In [64]:
# min
print(min([2,5,3,4]))
# max
print(max([3,5,6,7,8]))
# min with strings
print(min('omkar'))
# max with strings
print(max('omkar'))

2
8
a
r

In [65]:
# round
round(3.6)

4

In [69]:
# divmod ( results of integer and modulus value in a tuple)
divmod(5,2)

(2, 1)

In [71]:
#bin/oct/hex
bin(10)

'0b1010'

In [72]:
oct(10)

'0o12'

In [73]:
hex(10)

'0xa'

In [74]:
#id -address in the memory
a=13
id(a)

11256448

In [76]:
#ord - gives aski code for any character
ord('D')

68

In [77]:
# len -gives length
len("kolkata")

7

In [79]:
#sum 
print(sum([1,5,6,7,8]))
print(sum((3,6,7,8,4)))
print(sum({2,4,5,7,5,4,8}))

27
28
26

In [80]:
# help - gives info about a function
help(print())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# Built in Modules

In [ ]:
# What are modules?  Module is a file containing a set of functions you want to include in your applications.
# Examples of python modules which can be used in our code.
#1.Math - module that has all the mathematical fucntions pre defined
#2.Random
#3.os
#4.time

In [ ]:
help('modules')

In [87]:
import math
math.pi

3.141592653589793

In [90]:
math.ceil(7.1)

8

In [91]:
math.floor(9.99)

9

In [84]:
import os

In [107]:
os.getcwd()

'/content'

In [108]:
os.listdir()

['.config', 'sample_data']

In [85]:
import time

In [103]:
time.time()

1655970688.5266883

In [105]:
time.time()

1655970717.385511

In [104]:
time.ctime()

'Thu Jun 23 07:51:37 2022'

In [106]:
print('hello')
time.sleep(10)
print("omkar this side")

hello
omkar this side

In [101]:
import random
print(random.randint(1,1000))
a=[11,22,56,78,54]
print(a)
random.shuffle(a)
print(a)
# randomshuffle is making permanenet changes to the list

991
[11, 22, 56, 78, 54]
[22, 56, 11, 54, 78]

In [102]:
import numpy

# String

In [1]:
# creating strings
# Accessing strings
# Addind characters to string
# Editing strings
# Deleting strings
# Operations on strings
# String functions

In [4]:
# Ceating strings
string1='OMkar'
string2="OMkar"
string3=""" Multilne string """
string4=str("omkar katare")

In [12]:
# Accesing substrings from a string
# indexing
# positive indexing
# negative indexing
c='hello This is OMmkar'
print(c[0])
print(c[1:4])
print(c[-4:-2])
print(c[0:-1:2])
print(c[::-1])

h
ell
mk
hloTi sOma
rakmMO si sihT olleh

In [13]:
  # Editing and deleting strings

In [15]:
c='Hello'
c[0]="a"

TypeError: ignored

In [16]:
# strings are immutable

In [ ]:
#