<a href="https://colab.research.google.com/github/omkar123katare/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print

In [1]:
print("india","pakistan",'nepal',"shrilanka")

india pakistan nepal shrilanka

In [2]:
print('india',5,True)

india 5 True

sep parameter in the print fucntion

In [3]:
print("india","pakistan",'nepal',"china",sep='*')

india*pakistan*nepal*china

end parameter in the print function.
This function has default value : end='/n'

In [4]:
print('Hello')
print('Omkar')

Hello
Omkar

instead off deafault value end='/n', we will put end=' '

In [5]:
print('hello',end=' ')
print('omkar')

hello omkar

# Data types

1. Basic- integer, float, complex, boolean, string
2. Container- list, tuple, set, dictionary
3. User defined- class

In containers, Elements of multiple data types can be stored in a single data type

In [6]:
print(1e308)

1e+308

In [7]:
print(1e309)

inf

In [8]:
print(3.5)

3.5