<a href="https://colab.research.google.com/github/omkar123katare/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print

In [ ]:
print("india","pakistan",'nepal',"shrilanka")

india pakistan nepal shrilanka

In [ ]:
print('india',5,True)

india 5 True

sep parameter in the print fucntion

In [ ]:
print("india","pakistan",'nepal',"china",sep='*')

india*pakistan*nepal*china

end parameter in the print function.
This function has default value : end='/n'

In [ ]:
print('Hello')
print('Omkar')

Hello
Omkar

instead off deafault value end='/n', we will put end=' '

In [ ]:
print('hello',end=' ')
print('omkar')

hello omkar

# Data types

1. Basic- integer, float, complex, boolean, string
2. Container- list, tuple, set, dictionary
3. User defined- class

In containers, Elements of multiple data types can be stored in a single data type

In [ ]:
print(1e308)

1e+308

In [ ]:
print(1e309)

inf

In [ ]:
print(3.5)

3.5

# Comments

In [ ]:
# This a comment, compiler won't execute this comment

# Variables

In [ ]:
# Dynamic Typing - No need of specifying data type of new variable. ( In Python and PHP )
# Static Typing - we need to specify the type of a variable.( In c )

In [ ]:
# Dynamic Binding - 
name= 'Omkar'
print(name)
name=9
print(name)
name=True
print(name)
# Data type is not bound to any variable. We can change the type of variable stored in the variable without any issue.

Omkar
9
True

In [ ]:
# static binding - if a varible is declared as interger, we cannot store any value of other data type in the same variable.

In [ ]:
a=5;b=90;c=5
print(a)
print(b)
print(c)

5
90
5

In [ ]:
a,b,c=5,90,7
print(a)
print(b)
print(c)

5
90
7

In [ ]:
a=b=c=87
print(a)
print(b)
print(c)

87
87
87

# Keywords in Python

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
len(keyword.kwlist)

35

In [ ]:
# Dont use these names for your variables. Because compiler gest confused between these and these reserved keyworkds. If done error will occur.

# Identifiers

In [ ]:
# An identifier is a name used to identify a variable, function, class, module, other object.
''' Rules for naming identifiers - 
1. Can only start with an alphabet or _ only
2. Can end with digit,_,alphabet. Special characters are not allowed.
3. Variable names canot be from Keywords 
'''

' Rules for naming identifiers - \n1. Can only start with an alphabet or _ only\n2. Can end with digit,_,alphabet. Special characters are not allowed.\n3. Variable names canot be from Keywords \n'

# Taking user input

In [ ]:
input("What is Your Name?")

What is Your Name?Omkar Dattatraya Katare

'Omkar Dattatraya Katare'

In [ ]:
num1=input("Enter first number ")
print(type(num1))
num2=input("Enter the second number ")
print(type(num2))
print(f"product of these numbers is= {int(num1)*int(num2)}")
# Whenever user inputs anything, computer gets it in a string format. We need to change it everytime so as to avoid error.

Enter first number 43
<class 'str'>
Enter the second number 56
<class 'str'>
product of these numbers is= 2408

# Type conversion

One data type can be converted into other data type. (if it is compatible)

int()
str()
float()
bool()
complex()
list()
dict()

In [ ]:
x=str(5)
print(x)
print(type(x))
y=int(x)
print(y)
print(type(y))
z=bool(x)
print(z)
print(type(z))
print(bool(0))
print(bool([]))

5
<class 'str'>
5
<class 'int'>
True
<class 'bool'>
False
False

In [ ]:
import numpy as np

In [ ]:
name='omkar_katare'
print(name)
print(list(name))
print(set(name))

omkar_katare
['o', 'm', 'k', 'a', 'r', '_', 'k', 'a', 't', 'a', 'r', 'e']
{'e', 'o', 'k', 't', 'a', '_', 'm', 'r'}

# Literals

In [ ]:
# Numeric Literals
a=0b1010 # Binary Literal
b=100 # Decimal Literal
c=0o310 # Octal Literal
d=0x12c # Hexagonal Literal

print(a,b,c,d)

10 100 200 300

In [ ]:
# Float Literals
float1=1.5
float2=1.5e2
float3=1.5e-2

print(float1,float2,float3)

1.5 150.0 0.015

In [ ]:
# Complex Literal
p=3.14j + 67
print(p)
print(p.imag)
print(p.real)

(67+3.14j)
3.14
67.0

In [ ]:
# string Literals
sentence1='This is Python'
sentence2=" This is also Python"
multiline_string=''' This could be a multiline string. Like a paragraph '''
unicode= u'\U0001F600'
raw_string=r"raw /n string"

In [ ]:
print(sentence1,sentence2,multiline_string,raw_string,sep='------')

This is Python------ This is also Python------ This could be a multiline string. Like a paragraph ------raw /n string

In [ ]:
# Boolean Literal
a= True +4
b= False+4
print('a : ',a)
print('b : ',b)

a :  5
b :  4

In [ ]:
# special literal
a=None
print(a)
# Then why did we define a ? We kind of declared variable a which we will use in later point of our progeam.

None

# Operators
1.Arithmetic Operators

2.Comaprison Operators

3.Logical Operators

4.Bitwise Operators

5.Assignment Operators

6.Identity Operators

7.Membership Operators

In [ ]:
# Arithmetic Operators
x=5
y=2

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

7
3
10
2.5
1
25
2

In [ ]:
# Comparison or relational Operators
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [ ]:
# Logical Operators
x = True
y= False

print(x and y)
print(x or y)
print(not y)
print(not x)

False
True
True
False

In [ ]:
# Bitwise opearators - used in image processing while applying filters, image is converted into binary form. 
x=2  # 0010
y=3  # 0011
    
print(x & y)  # 0010
print(x | y)  # 0011
print(x >> 2) # 0000
print(x << 2) # 1000
print(~x) # 1101

2
3
0
8
-3

In [ ]:
# Assignment operator

a=5
print(a)
a+=4
print(a)
a-=2
print(a)

5
9
7

In [ ]:
# Identity operator - are the values stored in the same memory location or not?
a=8
b=8
a is b

True

In [ ]:
a='hello'
b='hello'
a is b

True

In [ ]:
a='hello-world'
b='hello-world'
a is b

False

In [ ]:
a is not b

True

In [ ]:
a=[10,20,30]
b=[10,20,30]
a is b

False

In [ ]:
a=3
b=3
a is b

True

In [ ]:
# Membership oparators- In other languages we need to use a for loop. But, in python, we just use this member ship operator- 'in' and get solution.
"d" in "delhi"

True

In [ ]:
"D" not in "delhi"

True

In [ ]:
list=[2,5,6,7,8]
2 in list

True

# if else

In [ ]:
#correct email= omkarkatare123@gmal.com
#correct password= dakvdkgdkvdkodk
email=input("apna email bata ")
if '@' in email:
  
  password=input("apna password bhi bata ")


  if email=="omkarkatare123@gmail.com"  and password =="dakvdkgdkvdkodk":
    print("Sahi hai")
  elif email=="omkarkatare123@gmail.com"  and password !="dakvdkgdkvdkodk":
    print("Email sahi hai password sahi se bata ")
    password=input("password sang ")
    if password=="dakvdkgdkvdkodk":
      print("finaaly correct")
    else:
      print("phirse password galat")
  elif email!="omkarkatare123@gmail.com"  and password =="dakvdkgdkvdkodk":
    email=input("email sang ata ")
    print("email galat hai password thik hai")
    if email=='omkarkatare123@gmail.com':
      print("finnaly correct")
    else:
      print("phirse email galat")

else:
  print("Email is wrong")

apna email bata omkarkatare123@gmail.com
apna password bhi bata dakvdkgdkvdkodk
Sahi hai

# Indentation

In [ ]:
# In python we dont use ; and {} . Here we use indentation

# Loop

In [ ]:
# loop use - containers for flipkart webpage.
#you wont make 1000s of containers. You just make one and using loops we loop this one over 1000s of containers.

While loop

In [ ]:
number=int(input("Enter a number"))
i=1
while i<11:
  print(number*i)
  i=i+1

Enter a number3
3
6
9
12
15
18
21
24
27
30

Guessing Game

In [ ]:
import random

In [ ]:
#indefinite loop - while loop. (we dont know in advance the number of time loop is to be executed)

In [ ]:
jackpot=random.randint(1,100)
counter=1
guess=int(input("chal guess kar"))
while guess != jackpot:
  
  if guess<jackpot:
    print("Guess Higher")
  else: 
    print("Guess lower")
  
  counter+=1
  guess=int(input("Chal guess kar phirse"))

print("Sahi Jawab. You took",counter,"Number of attmpts")

chal guess kar34
Guess lower
Chal guess kar phirse20
Guess lower
Chal guess kar phirse10
Guess Higher
Chal guess kar phirse15
Guess Higher
Chal guess kar phirse18
Guess lower
Chal guess kar phirse19
Guess lower
Chal guess kar phirse17
Guess lower
Chal guess kar phirse16
Sahi Jawab. You took 8 Number of attmpts

In [ ]:
i=input('Enter i')
j=input('Enter j')
counter=1
while i==j:
  print('both are the same')
  i=input('input i')
  j=input('input j')
  counter=counter+1
print(f'You tried {counter} times')

Enter i4
Enter j4
both are the same
input i5
input j6
You tried 2 times

For loop

For loop iterated over range function OR a sequence. No need of termination, no need of incrementing, everythin will happen on its own. Unlike while loops, here we know how many times our loop will run before starting.

In [ ]:
# range fuction

In [ ]:

set(range(1,11))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
list(range(1,11))

TypeError: ignored

In [ ]:
list(range(1,11,2))

TypeError: ignored

In [ ]:
list(range(11,1,-1))

TypeError: ignored

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# In addition to range function, For loop can iterate over Sequences as well - list,set,string,tuples

In [ ]:
for i in "omkar":
  print(i)

o
m
k
a
r

In [ ]:
list=['list1','list2','list3','list4']
for j in list:
  print(j)

list1
list2
list3
list4

In [ ]:
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [ ]:
for i in (1,2,3,4,5):
  print(i)

1
2
3
4
5

In [ ]:
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

Nested loops

In [ ]:
# Nested loops are not a very great solution, because time complexity of a two layer nested loop is n^2. For a three layered nested loops, time complexity will be n^3.

Eg. if you want info about all the transactions from your bank, one loop iterate for all the customers, another loop will run for each transaction done by each customer.

In [ ]:
# Program to create pascal's triangle.

In [ ]:
rows=int(input("Input the number of rows you need"))
for i in range(1,rows+1):
  for j in range(0,i):
    print("*",end=" ")
  print(" ")

Input the number of rows you need5
*
* *
* * *
* * * *
* * * * *

Break, Continue, Pass.

In [ ]:
for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
# Where can we use break? - Linear Searching. When you find your match, you can break out.

In [ ]:
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
# while creating app for showing in stock products, skip for the products which are not there in stock. For those stocks, use continue statement.

In [ ]:
for i in range(1,11):
  pass

In [ ]:
# will write the code after sometime

# Built-in functions

In [ ]:
# print
print("hello")

hello

In [ ]:
# input - here the inout is receive in a string format
input("enter your name ")

KeyboardInterrupt: ignored

In [ ]:
# type
a=3
type(a)

In [ ]:
# Type cinversion functions- 1.int 2.str 3.float 4.list 5.tuple
int(5.6)

In [ ]:
# absolute function
abs(-4)

In [ ]:
# pow
pow(2,3)

In [ ]:
# min
print(min([2,5,3,4]))
# max
print(max([3,5,6,7,8]))
# min with strings
print(min('omkar'))
# max with strings
print(max('omkar'))

In [ ]:
# round
round(3.6)

In [ ]:
# divmod ( results of integer and modulus value in a tuple)
divmod(5,2)

In [ ]:
#bin/oct/hex
bin(10)

In [ ]:
oct(10)

In [ ]:
hex(10)

In [ ]:
#id -address in the memory
a=13
id(a)

In [ ]:
#ord - gives aski code for any character
ord('D')

In [ ]:
# len -gives length
len("kolkata")

In [ ]:
#sum 
print(sum([1,5,6,7,8]))
print(sum((3,6,7,8,4)))
print(sum({2,4,5,7,5,4,8}))

In [ ]:
# help - gives info about a function
help(print())

# Built in Modules

In [ ]:
# What are modules?  Module is a file containing a set of functions you want to include in your applications.
# Examples of python modules which can be used in our code.
#1.Math - module that has all the mathematical fucntions pre defined
#2.Random
#3.os
#4.time

In [ ]:
help('modules')

In [ ]:
import math
math.pi

In [ ]:
math.ceil(7.1)

In [ ]:
math.floor(9.99)

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
import time

In [ ]:
time.time()

In [ ]:
time.time()

In [ ]:
time.ctime()

In [ ]:
print('hello')
time.sleep(10)
print("omkar this side")

In [ ]:
import random
print(random.randint(1,1000))
a=[11,22,56,78,54]
print(a)
random.shuffle(a)
print(a)
# randomshuffle is making permanenet changes to the list

In [ ]:
import numpy

# String

In [ ]:
# creating strings
# Accessing strings
# Addind characters to string
# Editing strings
# Deleting strings
# Operations on strings
# String functions

In [ ]:
# Ceating strings
string1='OMkar'
string2="OMkar"
string3=""" Multilne string """
string4=str("omkar katare")

In [ ]:
# Accesing substrings from a string
# indexing
# positive indexing
# negative indexing
c='hello This is OMmkar'
print(c[0])
print(c[1:4])
print(c[-4:-2])
print(c[0:-1:2])
print(c[::-1])

In [ ]:
  # Editing and deleting strings

In [ ]:
c='Hello'
c[0]="a"

In [ ]:
# strings are immutable

In [ ]:
# string are reassignamble, but we can alter the string (like changing/additing/deleting one character is not possible)

In [ ]:
# strings can also be completely deleted by can not be  partially deleted.

In [ ]:
c

In [ ]:
del c[0]

In [ ]:
# String operations.
''' 1. Arithmetic Operations. 2. Relational Operations. 3.Logical Operations. 4.Loopas on strings. 5.Membership Operations.'''

In [ ]:
# Arithmetic operarions
"omkar"+"katare"

In [ ]:
"omkar"+" "+"katare"

In [ ]:
print('@'*10)

In [ ]:
# Relational Operators
"omkar"=="Omkar"

In [ ]:
"omkar"!="Omkar"

In [ ]:
"Mumbai">"Pune"
# Lexographical Comparison
# Like Dictionaty . Word that will appear later is bigger.

Lexographical order- A-Z > a-z

In [ ]:
"A"<"a"

Python considers empty strings as "FALSE". and Non empty strings are "TRUE".

In [ ]:
# Logical Operators
"" and "hello"

In [ ]:
"" or "hello"

In [ ]:
"hello" and "world"

In [ ]:
"hello"or "world"

In [ ]:
not "hello"

In [ ]:
not""

In [ ]:
# loops on strings
n="hello world"
for i in n:
  print(i)

In [ ]:
for j in n[-1:0:-1]:
  print(j)

In [ ]:
# Membarship operations
"i" in "ioi"

In [ ]:
"I" in "ioi"

String Functions

In [ ]:
# len
# max
# min
# sorted

In [ ]:
c="kolkata"

In [ ]:
len(c)

In [ ]:
min(c)

In [ ]:
max(c)

In [ ]:
sorted(c)

In [ ]:
sorted(c,reverse=True)

In [ ]:
# 1. Capitalize/title/upper/lower/swapcase

In [ ]:
z='My name is omkar'

In [ ]:
z.capitalize()

In [ ]:
z.title()

In [ ]:
z.upper()

In [ ]:
z.lower()

In [ ]:
z.swapcase()

In [ ]:
# 2. count

In [ ]:
"This is omkar".count("kar")

In [ ]:
# 3. Find/Index

In [ ]:
"This is Omkar".find("O")

In [ ]:
"THIS IS OMKAR".find("t")

find return -1 if string is not found. Index gives an error.

In [ ]:
"this is omkar".index("T")

In [ ]:
# 4. endswith/startswith

In [ ]:
"It is raining".endswith("ing")

In [ ]:
"It is raining".startswith("It")

In [ ]:
# 5. format

In [ ]:
"Hello my name is {}, and my age is {}".format("omkar",24)

In [ ]:
"Hello my name is {1}, and my age is {0}".format("omkar",24)

In [ ]:
"Hello my name is {name}, and my age is {age}".format(name="omkar",age=24)

In [ ]:
"Hello my name is {name}, and my age is {age} and my weight is {weight}".format(name="omkar",age=24,weight=70)

In [ ]:
# 6. isalnum/isalpha/isdecimal/isdigit/isidentifier - these are used to valiate the inputs

In [ ]:
"Flat20".isalnum()

In [ ]:
"omk".isalpha()

In [ ]:
"20".isdigit()

In [ ]:
# 7.split

In [ ]:
"Who is the prime minister of india".split()

In [ ]:
"Who is the prime minister of india".split("p")

In [ ]:
# 8.Join

In [ ]:
"*".join(['a','b','c','d'])

In [ ]:
# 9.replace

In [ ]:
"Hi my name is Omkar".replace("my","Your")

In [ ]:
# 10.strip

In [ ]:
variable='       omkar   katare'
variable.strip()

In [ ]:
variable1="     OMkar    "
variable1.strip()

# List

In [ ]:
# List
# what is a list?
# List vs array
# create
# acess
# edit
# add
# delete
# operations
# functions

In [ ]:
# Array are homogenious but lists are not.
# Arrays occupy consecutive memory spaces, lists do not.
# Arrays are much faster because of occupying consecutive memory spaces.
# Lists are programmer firendly.

In [ ]:
# empty list
L=[]

In [ ]:
# himogenious list
l=[1,2,3,4,5]

In [ ]:
# heterogenious list
l1=["omkar","1","1.1"]

In [ ]:
# Multidimantional list
l2=[1,2,3,[2,3,4]]
l3=[1,2,3,[3,4,[5,6,6]]]

In [ ]:
# by type conversion
l4=list("omkar")
print(l4)

In [ ]:
# indexing
l4[2]

In [ ]:
# indxing in multidimesional list
l3[3][2][0]

In [ ]:
l3[-1][-1]

In [ ]:
l4

In [ ]:
l4[0]="ZZZ"

In [ ]:
l4

In [ ]:
# we could change list contents becuase lists are mutable

In [ ]:
# Adding new eleents in list
# 1 .appends - add one element to last
# 2 .insert -  Here we can add element to our desired index position.
# 3 .extend - add mutiple elements at once. If we input a string, this first converts it into list by internally splitting and adds these elements to the current list.

In [ ]:
list5=[1,2,3,4,5]
list5.append(1000)
print(list5)
list5.extend([11,22,33,4,5,5,6,6,6])
print(list5)
list5.extend("This used to be a string")
print(list5)

# major issue- apped,extend,insert do not retunr anything, they just modify the original string. "They do not retunr anything"

In [ ]:
# In insert, first parameter is the index position at which we want to add the element, and second paramet is the element whichc we want to add to the list.
list5.insert(1,"omkar")
print(list5)

In [ ]:
# DELETE
# 1. Delete
# 2. del
# 3. remove
# 4. pop
# 5. clear

In [ ]:
list_one=[1,2,3,4,5]

In [ ]:
del list_one

In [ ]:
list_one

In [ ]:
list_two=[12,3,4,5,5,5]

In [ ]:
del [list_two[0]]

In [ ]:
list_two

In [ ]:
del list_two[-2:]

In [ ]:
list_two

In [ ]:
# if want to delete a specific element, and we dont know th eindex position of that element.

In [ ]:
list_two.remove(4)
print(list_two)

In [ ]:
#pop always removes th elast elelemnt of a list
list_two.pop()
print(list_two)

In [ ]:
# clear does not delete the variable, it just emptris the list
list_two.clear()

In [ ]:
list_two

In [ ]:
# Operations
#1. concatenation
#2. Mutiplication
#3. run a loop
#4. membership

In [ ]:
list_1=[1,2,3,4,5]
list_2=[3,4,5,6,7]
list_1+list_2

In [ ]:
list_1*3

In [ ]:
for i in list_1:
  print("hello")

In [ ]:
# membershipl
2 in list_1

In [ ]:
min(list_1)

In [ ]:
max(list_1)

In [ ]:
# sorted This is a temporary operation
sorted(list_1)

In [ ]:
sorted(list_1,reverse =True)

In [ ]:
# sort is a permanent change
list_sort=[3,6,8,4,3,5]
list_sort.sort()

In [ ]:
list_sort.index(8)

In [ ]:
# writing a code to do the job of method - title()

string=input("Enter the sentence")
list1=[]
list=string.split(" ")
for elem in list:
  x=elem[0].upper()
  y=elem[1:]
  list1.append(x+y)
print(" ".join(list1))

In [ ]:
# wrinting a code to get characters befinre @ in email id
mail_id=input("enter the email id")
list=mail_id.split("@")
list[0]

In [ ]:
# wrinting a code to get characters befinre @ in email id
input=input("enter mail id")
required_string=input[0:input.find("@")]
print(required_string)

In [ ]:
# write a code to return a list after removing all the duplicate items
input_list=input("enter numbers")
okay_set=set(input_list.split(" "))
list=[]
for elem in okay_set:
  list.append(elem)
print(list)
list1=[]
for elem in list:
  list1.append(int(elem))
print(list1)

enter numbers23 45 7 55 77 8 77 77
['77', '7', '23', '55', '8', '45']
[77, 7, 23, 55, 8, 45]

# Tuple

In [110]:
#create
#acess
#edit
#add
#delete
#oparations
#functions

In [113]:
#creating tuple
#empty tuple
tuple=()
type(tuple)

tuple

In [115]:
omkar=1,2,3,4
type(omkar)

tuple

In [120]:
# Creating a tuple with only one element
omkara=(1)
type(omkara)

int

In [121]:
omkarra=(1,)
type(omkarra)

tuple

In [122]:
tuplee=(omkar,)
type(tuplee)

tuple

In [118]:

omkarr=1,
type(omkarr)

tuple

In [1]:
# creating tuples using type conversion
T6=tuple("Goa")

In [2]:
T6

('G', 'o', 'a')

In [3]:
T5=tuple({1,2,3,4,5,6})

In [4]:
T5

(1, 2, 3, 4, 5, 6)

In [6]:
T5[0]

1

In [9]:
# Difference between list and tuple- 
#- we cant edit tuple elements.(cant add elements or alter elements from tuple)
#- single item lists and single item tuples defining is different. ( we need extra comma in tuples).
#- brackets are different for both

In [10]:
# Deleting ( we can completely delete a tuple, but cant delete a single element of a tuple)

In [11]:
del T5[0]

TypeError: ignored

In [12]:
del T5

In [15]:
# Oparations
T3=(1,2,3,4,5)
T4=(2,3,4,5,6,7)

In [20]:
# concatenation
T3+T4

(1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 7)

In [21]:
# Multiplication
T3*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [23]:
# running a loop
for i in T3:
  print("Heelo")

Heelo
Heelo
Heelo
Heelo
Heelo

In [24]:
# membership operator
3 in T3

True

In [25]:
len(T3)

5

In [26]:
min(T3)

1

In [27]:
max(T3)

5

In [29]:
sorted(T3)
# Sorted funciton converts tuple into a list

[1, 2, 3, 4, 5]

In [30]:
sorted(T3, reverse= True)

[5, 4, 3, 2, 1]

In [31]:
# Difference in tuple sand list
# tuples are immutable
# "write" opearations wont work on tuples.
# tuples are read only data types
# used where data integritiy is imporatant

# Sets

In [1]:
# Rule 1. sets do not allow duplictes
# Rule 2. Sets do not have indexing or slicing
# Rule 3. Sets do not allow mutable data types to be an element of sets.
# Rule 4. Set itself is a mutable data type

In [9]:

#create set

In [10]:
set_create={}

In [11]:
type(set_create)

dict

In [13]:
my_set=set()

In [19]:
s3={1,2,3,3,3,3}
print(s3)
s4={"omkar",1,2,3,("ji",5,3)}
print(type(s4))

{1, 2, 3}
<class 'set'>

In [20]:
s5={1,2,3,"string",[1,2,"list"]}

TypeError: ignored

Multidimensional sets are also not possible, because we canit have set inside set, as set is a mutable data type

In [21]:
# accessing items

In [22]:
s3[0]

TypeError: ignored

In [23]:
# we caanot access items from a set

In [29]:
# adding items in a set
s3.add(5)
print(s3)

{1, 2, 3, 5}

In [30]:
# Delete

we can delete by del, remove, pop

In [ ]:
#del

In [31]:
s3

{1, 2, 3, 5}

In [32]:
del s3

In [33]:
s3

NameError: ignored

In [37]:
#remove

In [34]:
s4

{('ji', 5, 3), 1, 2, 3, 'omkar'}

In [35]:
s4.remove("omkar")

In [36]:
s4

{('ji', 5, 3), 1, 2, 3}

In [39]:
#pop - in set elements are arranges inside according to hashing logic. Pop will get us the last element ordered according to hashing

In [40]:
s4.pop()

1

In [41]:
# set operations

In [44]:
s1={1,2,3,4,5}
s2={3,10000,5,6,8}
# we cant concatenate in sets, we cant multiply sets.
# but we can run loops according to elemments in sets
for elem in s2:
  print(elem)

3
5
6
8
10000

In [45]:
# membership operation in sets
10000 in s2

True

In [46]:
# functions

In [47]:
len(s2)

5

In [65]:
min(s2)

3

In [49]:
max(s2)

10000

In [50]:
sum(s2)

10022

In [51]:
sorted(s2)

[3, 5, 6, 8, 10000]

In [52]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 10000}

In [53]:
s1.intersection(s2)

{3, 5}

In [54]:
s1.difference(s2)

{1, 2, 4}

In [55]:
s2.difference(s1)

{6, 8, 10000}

In [64]:
s1.symmetric_difference(s2)

{1, 2, 4, 6, 8, 10000}

In [62]:
s1.isdisjoint(s2)

False

In [59]:
s1.issubset(s2)

False

In [60]:
s1.issuperset(s2)

False

In [66]:
s1.clear()

In [67]:
s1

set()

# Dictionary

In [78]:
d={"name":"omkar","age":"24"}
# Rule 1 : Dictionary has no indexing
# Rule 2 : Dictionaty is  mutable  
# Rule 3 : "Keys" are immutable i.e.(a list or dictionary caanit be a key. Only immutable data structures can be a key of dictionary like string,tuple and values can be mutable or immutable.
# Rule 4 : Keys should be "unique"

In [72]:
# create empty dictionay
dict={}
type(dict)

dict

In [74]:
d['name']

'omkar'

In [76]:
d1={(1,2,3):"ok","this":"45"}

In [77]:
d1[(1,2,3)]

'ok'

In [81]:
d2={"omk":12,"omk":5000}

In [82]:
d2

{'omk': 5000}

In [83]:
# if two keys are same, python assigns latest values to the key

In [84]:
# creating 2D dictionaries

In [85]:
D3={"name":"omkar","college":"PVG","Marks":{"m1":10,"s1":23,"f1":67}}

In [88]:
D3['Marks']

{'f1': 67, 'm1': 10, 's1': 23}

In [91]:

D3['Marks']['m1']

10

In [92]:
# similar thing can be done using .get() method

In [93]:
D3.get("Marks")

{'f1': 67, 'm1': 10, 's1': 23}

In [94]:
D3["Marks"]["z1"]=500000

In [95]:
D3

{'Marks': {'f1': 67, 'm1': 10, 's1': 23, 'z1': 500000},
 'college': 'PVG',
 'name': 'omkar'}

In [96]:
# Delete

In [98]:
del D3["Marks"]

In [99]:
D3

{'college': 'PVG', 'name': 'omkar'}

In [100]:
D3.clear()

In [101]:
D3

{}

In [ ]:
# Opeartions

In [102]:
# we can run loops for dictionary elements

In [106]:
D4={'ok':30,"jk":90,'dk':90}

In [107]:
for elem in D4:
  print(elem)
# from this we get the keys for the dictionary

ok
jk
dk

In [108]:
# By using loops iver dictionaries, we can run loops for keys of dictionaries

In [112]:
for elem in D4:
  print(D4[elem])
# from this we can access values for the keys

30
90
90

In [113]:
# We have membership operators for dictionaries.
# But here python checks for the preesence in the key values

"Marks" not in D4

True

In [114]:
len(D4)

3

In [115]:
min(D4)
# operation on keys

'dk'

In [116]:
max(D4)
# operatio on keys

'ok'

In [117]:
sorted(D4)
# operation on keys

['dk', 'jk', 'ok']

In [118]:
sorted(D4,reverse=True)
# opearion on keys

['ok', 'jk', 'dk']

In [119]:
D4.keys()

dict_keys(['ok', 'jk', 'dk'])

In [120]:
D4.values()

dict_values([30, 90, 90])

In [121]:
D4.items()

dict_items([('ok', 30), ('jk', 90), ('dk', 90)])

In [122]:
for a,b in D4.items():
  print(a,b)

ok 30
jk 90
dk 90